[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
google-genai = "*"
sqlalchemy = "*"
alembic = "*"
pgvector = "*"
psycopg = {extras = ["binary"], version = "*"}
langchain-text-splitters = "*"
pymupdf = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
